<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.cnb.config.mybatis.mapper.GeneralUser">

	<resultMap type="GeneralUser" id="GeneralUser-resultmap">
		<id column="user_id" property="userId"/>
		<result column="user_pw" property="userPw"/>
		<result column="user_name" property="userName"/>
		<result column="user_birth" property="userBirth"/>
		<result column="user_gender" property="userGender"/>
		<result column="user_email" property="userEmail"/>
		<result column="user_phone" property="userPhone"/>
		<result column="user_address" property="userAddress"/>
		<result column="user_active_state" property="userActiveState"/>
	</resultMap>
	
	<insert id="insertGeneralUser" parameterType="GeneralUser">
	</insert>
	
	


</mapper>