<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cnb.config.mybatis.mapper.PaymentDetailsMapper">
	<!-- 
		PaymentDetailMapper 테이블 관련 mapper
		+ 결제 내역 추가
		+ 결제내역들 조회
	 -->
	
	<!-- insert -->
	<insert id="insertPaymentDetails" parameterType="com.cnb.vo.PaymentDetails">
		<selectKey keyProperty="paymentNo" resultType="_int" order="BEFORE">
			SELECT payment_no_seq.nextval FROM dual
		</selectKey>
		INSERT INTO payment_details VALUES (
									#{paymentNo},
									#{paymentOption},
									#{tradeDate},
									#{sellMethod},
									#{reservationOrderCount},
									#{userId},
									#{productId},
									#{storeId},
									#{productTradeCount} )
	     </insert>
	
	
		<sql id="select-paymentDetails">
		SELECT  payment_no,
				payment_option,
				trade_date,
				sell_method,
				reservation_order_count,
				user_id,
				product_id,
				store_id,
				product_trade_count
		FROM	payment_details
	    </sql>
	

	<!-- resultMap -->
	<resultMap type="com.cnb.vo.PaymentDetails" id="paymentDetails-resultmap">
 		<id column="payment_no" property="paymentNo"/>
 		<result column="payment_option" property="paymentOption"/>
 		<result column="trade_date" property="tradeDate"/>
		<result column="sell_method" property="sellMethod"/>
		<result column="reservation_order_count" property="reservationOrderCount"/>
		<result column="user_id" property="userId"/>
		<result column="product_id" property="productId"/>
		<result column="store_id" property="storeId"/>
		<result column="product_trade_count" property="productTradeCount"/>
	</resultMap>
	
	<!-- 결제내역 조회 -->
	<select id="selectPaymentDetailsListByUserIdAndStoreId" resultMap="paymentDetails-resultmap" parameterType="map">
		
		<include refid="select-paymentDetails"/>
		WHERE store_id = #{storeId} AND user_id=#{userId}
	</select>
	
	
	
	
</mapper>