<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnb.config.mybatis.mapper.StoreMapper">


 <!-- 
 	이진영
 	2017-06-28
 	StorePicture 조인
 
 	이진영
 	2017-06-26
 	초기 구현 
 -->
 <!-- 매장 resultMap -->
 	<resultMap type="com.cnb.vo.Store" id="store-resultmap">
 		<id column="store_id" property="storeId"/>
 		<result column="store_name" property="storeName"/>
 		<result column="store_intro" property="storeIntro"/>
 		<result column="store_phone" property="storePhone"/>
 		<result column="store_address" property="storeAddress"/>
 		<result column="store_email" property="storeEmail"/>
 		<result column="store_hits" property="storeHits"/>
 		<result column="store_open" property="storeOpen"/>
 		<result column="store_close" property="storeClose"/>
 		<result column="store_permission" property="storePermission"/>
 	
 	</resultMap>
 
 
 	
 <resultMap type="com.cnb.vo.Store" id="store-storePicture-resultmap" extends="store-resultmap">
 	<collection property="StorePictureList" resultMap="com.cnb.config.mybatis.mapper.StorePictureMapper.storePicture-resultmap"/>
 </resultMap>
 
 
 <resultMap type="com.cnb.vo.Store" id="store-storeEvent-resultmap" extends="store-resultmap">
 	<collection property="StoreEventList" resultMap="com.cnb.config.mybatis.mapper.StoreEventMapper.storeEvent-resultmap"/>
 </resultMap>
 
 <resultMap type="com.cnb.vo.Store" id="store-storeCategory-resultmap" extends="store-resultmap">
 	<association property="storeCategory" resultMap="com.cnb.config.mybatis.mapper.StoreCategoryMapper.StoreCategory-resultmap"/>
 </resultMap>
 <!--매장 등록 Store insert  -->
	<insert id="insertStore" parameterType="com.cnb.vo.Store">
		INSERT INTO store
		values(
			#{storeId},
			#{storeName},
			#{storeIntro},
			#{storePhone},
			#{storeAddress},
			#{storeEmail},
			#{storeHits},
			#{storeOpen},
			#{storeClose},
			#{storePermission})
	</insert> 

 <!--매장 수정 Store update  -->
 	<update id="updateStore" parameterType="com.cnb.vo.Store">
 		UPDATE store
 		SET 
 			store_name = #{storeName},
			store_intro = #{storeIntro},
			store_phone = #{storePhone},
			store_address = #{storeAddress},
			store_email = #{storeEmail},
			store_hits = #{storeHits},
			store_open = #{storeOpen},
			store_close = #{storeClose}
 		WHERE store_id = #{storeId}
 	</update>
 <!-- 매장 사진 조회 Store select  -->
	<select id="selectStore" resultMap="store-storePicture-resultmap" parameterType="string">
		SELECT  s.store_id,
				s.store_name,
				s.store_intro,
				s.store_phone,
				s.store_address,
				s.store_email,
				s.store_hits,
				s.store_open,
				s.store_close,
				sp.store_picture
		FROM store s,store_picture sp
		WHERE s.store_id = sp.store_id
		AND s.store_id=#{value}
	</select>
	
	<!-- 매장 이벤트 조회 StoreEvent Select -->
	<select id="selectStoreEventList" resultMap="store-storeEvent-resultmap" parameterType="string">
		SELECT s.store_id,
			   s.store_name,
			   sv.event_no,
			   sv.event_title,
			   sv.event_start_date,
			   sv.event_end_date,
			   sv.event_details,
			   sv.sale_option,
			   sv.sale_rate,
			   sv.event_picture,
			   sv.new_menu_option,
			   sv.event_check
		FROM store s,store_event sv
		WHERE s.store_id = sv.store_id
		AND s.store_id=#{value}
			   
	
	</select>
	
	<!-- 매장 분류 조회 StoreCategory select -->
	<select id="selectStoreCategory" resultMap="store-storeCategory-resultmap" parameterType="String">
		SELECT s.store_id,
			   s.store_name,
			   sc.store_category
		FROM store s,store_category sc
		WHERE s.store_id = sc.store_id
		AND s.store_id=#{value}
	</select>
</mapper>