<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnb.config.mybatis.mapper.StoreCategoryMapper">

	<resultMap type="com.cnb.vo.StoreCategory" id="StoreCategory-resultmap">
		<id column="store_category_no" property="storeCategoryNo"/>
 		<result column="store_category" property="storeCategory"/>
 		<result column="store_id" property="storeId"/>	
	</resultMap>

</mapper>