<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting value="NULL" name="jdbcTypeForNull"/>
	</settings>
	
	<typeAliases>
		<package name="com.cnb.vo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/cnb/config/mybatis/mapper/GeneralUserMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/ProductMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/UserAuthorityMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/ShoppingBasketProductMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/StoreMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/ReservationDetailsMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/StoreBookmarkMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/StorePositionMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/StoreVisitHistoryMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/UserPreferenceStoreMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/ProductGapMapper.xml"/>
		<mapper resource="com/cnb/config/mybatis/mapper/ProductPictureMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/BookMarkCardNumMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/StoreEventMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/StorePictureMapper.xml" />
		<mapper resource="com/cnb/config/mybatis/mapper/StoreCategoryMapper.xml" />

	</mappers>
	 
</configuration>